{block content}
  <p><a n:href="Homepage:default">← zpet na vypis prispevku</a></p>

  <div class="date">{$post->created_at|date: 'F j, Y'}</div>

  <h1 n:block="title">{$post->title}</h1>

  <div class="post">{$post->content}</div>
